Babel @ file:///work/perseverance-python-buildout/croot/babel_1698863996602/work
Brotli @ file:///work/perseverance-python-buildout/croot/brotli-split_1698805593785/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///work/perseverance-python-buildout/croot/click_1698845879718/work
colorama @ file:///work/perseverance-python-buildout/croot/colorama_1698847155966/work
ghp-import @ file:///home/conda/feedstock_root/build_artifacts/ghp-import_1651585738538/work
idna @ file:///work/perseverance-python-buildout/croot/idna_1698845632828/work
importlib-metadata @ file:///croot/importlib_metadata-suite_1704813515092/work
Jinja2 @ file:///work/perseverance-python-buildout/croot/jinja2_1707343043683/work
Markdown @ file:///work/perseverance-python-buildout/croot/markdown_1698870813381/work
MarkupSafe @ file:///work/perseverance-python-buildout/croot/markupsafe_1707342994941/work
mergedeep @ file:///home/conda/feedstock_root/build_artifacts/mergedeep_1612711302171/work
mkdocs @ file:///home/conda/feedstock_root/build_artifacts/mkdocs_1695086541719/work
mkdocs-callouts==1.13.0
mkdocs-glightbox==0.3.7
mkdocs-material @ file:///home/conda/feedstock_root/build_artifacts/mkdocs-material_1708350555574/work
mkdocs-material-extensions @ file:///home/conda/feedstock_root/build_artifacts/mkdocs-material-extensions_1700695061696/work
packaging @ file:///work/perseverance-python-buildout/croot/packaging_1698805390494/work
paginate @ file:///home/conda/feedstock_root/build_artifacts/paginate_1693246827447/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1702249949303/work
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pymdown-extensions @ file:///home/conda/feedstock_root/build_artifacts/pymdown-extensions_1699668573382/work
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///work/perseverance-python-buildout/croot/pytz_1698849876288/work
PyYAML @ file:///work/perseverance-python-buildout/croot/pyyaml_1698849903511/work
pyyaml_env_tag @ file:///home/conda/feedstock_root/build_artifacts/pyyaml-env-tag_1624388951658/work
regex @ file:///work/perseverance-python-buildout/croot/regex_1698863574928/work
requests @ file:///croot/requests_1707355572290/work
setuptools==68.2.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
typing_extensions @ file:///croot/typing_extensions_1705619912070/work
urllib3 @ file:///croot/urllib3_1707770551213/work
watchdog @ file:///work/perseverance-python-buildout/croot/watchdog_1698875688132/work
wheel==0.41.2
zipp @ file:///work/perseverance-python-buildout/croot/zipp_1707367835224/work
