img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* 图片居中 */

.katex {
  font-size: 1.14em;
  text-indent: 0;
  text-rendering: auto;
}

/* 表格居中 */
table {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.md-typeset .admonition{
  font-size: .8rem;
}

.katex-display {
  margin-top: 6px;
  margin-bottom: 6px;
}